<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cart</title>
</head>

<body>
    <h4>My Cart</h4>
    <table>
        <thead>
            <th>Product Name</th>
            <th>Quantity</th>
        </thead>
        <tr>
            <td>Banana Juice</td>
            <td>2</td>
        </tr>
        <tr>
            <td>I can't believe it's banana butter</td>
            <td>4</td>
        </tr>
    </table>
</body>

</html>