{% extends "base.html" %} 
{% load static %}
{% block header %}
<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Homepage</h2>
{% endblock header %}
{% block main%}

<!-- Main Content -->

{% include "divider.html" %}
<div style="text-align: center;">
    <button type="button" class="btn btn-danger">
        DISCOUNT <span class="badge badge-light">{{DISCOUNT}}%</span>
    </button>
    <br/><br/><br/>
    <img src="{% static 'img/organic_icon.png' %}" class="navbar-brand js-scroll-trigger" alt="site_icon">
</div>

{% endblock%}