<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Refund page</title>
</head>

<body>
    <h1>Contact Information for Refunds</h1>
    <h4>Name: {{contact_name}}</h4>
    <p>Address: {{contact_address.sector}} {{contact_address.city}},{{contact_address.planet}}</p>
    <p>Phone numbers: {{contact_phone.0}} and {{contact_phone.1}}</p>
    <p>Working Hours: {{contact_hours.0.1}}, {{contact_hours.1.1}}, and {{contact_hours.2.1}}</p>
</body>

</html>