<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to my Banana store</title>
</head>

<body>
    <div style="text-align: center">
        <h1>Welcome to my Banana store</h1>
        <table>
            <tr>
                <td><img src="http://bit.ly/2IPoVn9" alt="Banana Bread" height="42" width="42"></td>
                <td><img src="http://bit.ly/2Bf6Z0V" alt="Banana Chips" height="42" width="42"></td>
                <td><img src="http://bit.ly/2IIBbG7" alt="Banana Juice" height="42" width="42"></td>
                <td><img src="http://bit.ly/3292pgJ" alt="Banana Muffins" height="42" width="42"></td>
                <td><img src="http://bit.ly/31dqDFt" alt="Banana Pancake" height="42" width="42"></td>
            </tr>
            <tr>
                <td><a href="{% url 'menu_ns:details' 'BananaBread' %}">Banana Bread</a></td>
                <td><a href="{% url 'menu_ns:details' 'BananaChips' %}">Banana Chips</a></td>
                <td><a href="{% url 'menu_ns:details' 'BananaJuice' %}">Banana Juice</a></td>
                <td><a href="{% url 'menu_ns:details' 'BananaMuffins' %}">Banana Muffins</a></td>
                <td><a href="{% url 'menu_ns:details' 'BananaPancake' %}">Banana Pancake</a></td>
            </tr>
        </table>
    </div>
</body>

</html>