{% load discount_tag %}
<div class="col-md-6 col-lg-4">
    <div class="portfolio-item mx-auto text-center" data-toggle="modal" data-target="#prodid{{id}}">
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-music fa-3x"></i>
            </div>
        </div>
        <img class="img-fluid rounded" style="width: 200px;height: 150px;" src="{{ product_image }}" alt="">
        <p class="py-3 font-weight-bold">{{ name }} - <span class="font-weight-bold">${% discount price %}</span> (<del>${{price}}</del>)</p>
    </div>
</div>